langchain
langchain-community
langchain-classic
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-core
sentence-transformers
transformers
accelerate
torch
python-dotenv
chromadb
nltk
pypdf
wikipedia
tiktoken
pandas
